.parallax {
  perspective: 1px;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: space-around;
}

.back {
  position: absolute;
  height: 100vh;
  width: 100vw;
  /* border: 2px solid salmon; */
  background-attachment: fixed;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.mobileBack {
  position: absolute;
  height: 100vh;
  width: 100vw;
  /* border: 2px solid salmon; */
  background-attachment: fixed;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.title {
  position: absolute;
  /* border: 3px solid red; */
  z-index: 0;
  font-size: 7rem;
  margin-top: -3rem;
  margin-left: auto;
  transform: translateZ(-1px) scale(2);
  color: black;
}

.subject {
  width: 21rem;
  height: auto;
  position: absolute;
  zoom: 1.4;
  z-index: 2;
  /* border: 1px solid green; */
  margin-left: 21rem;
  transform: translateZ(0);
  align-self: self-end;
}

.box {
  z-index: 5;
  height: max-content;
  width: 88vw;
  /* border: 5px solid red; */
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  margin-top: 101vh;
  margin-left: 1rem;
  margin-right: 2rem;
  padding: 4rem 4rem 3rem 4rem;
  /* font-size: 1.6rem; */
  /* text-align: center; */
}

.break {
  /* flex-basis: 100%; */
  height: 100px
}

.box2 {
  margin-top: 2rem;
  font-size: 1.6rem;
  /* border: 1px solid #999; */
  border-radius: 8px;
  padding: 1rem;
}